@page
@using Q2.DTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Q2.Pages.Schedule.ByDateModel
@{
    var listRoom = ViewData["room"] as List<RoomDTO>;
    var listTimeSlot = ViewData["timeslot"] as List<TimeSlotDTO>;

    var listMovies = ViewData["movies"] as List<MovieDTO>;
    var listSchedules = ViewData["schedules"] as List<ScheduleDTO>;

    var dateM = ViewData["dateMovie"];
}
<form method="post">
    <input type="date" name="searchDate" />
    <input type="submit" value="Get Schedule"/>
</form>

<h1> Screen Schedule on @dateM</h1>
<table border="1">
    <thead>
        <th></th>
        @foreach(var ts in listTimeSlot)
        {
        <th>@ts.StartTime - @ts.EndTime</th>
        }
    </thead>
    <tbody>
        <tr></tr>
        @foreach(var lR in listRoom)
        {
            <tr>
                <td>@lR.Title</td>
                @foreach (var ts1 in listTimeSlot)
                {
                    if(listSchedules.FirstOrDefault(s => s.RoomId == lR.Id && s.TimeSlotId == ts1.Id) != null)
                    {
                        var mvId = listSchedules.FirstOrDefault(s => s.RoomId == lR.Id && s.TimeSlotId == ts1.Id).MovieId;
                        <td>
                            <a href="">
                                @listMovies.FirstOrDefault(m => m.Id == mvId).Title
                            </a>
                            </td>
                    }else{
                        <td></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>